* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    min-height: 100%;
    background-color: "#EFEFEF"
}

/* header - flex */
header.header-myflex {
    width: inherit;
    border-bottom: 1px #CCCCEE solid;
}

div.header-container-myflex {
    max-width: 1024px;  /* avoid using px, use TODO instead */
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* we will used flex grid, 3-columns equally spaced */
    margin: auto;
}

div.header-container-myflex h1 {
    font-size: 1.2em;
    line-height: 1.57em;
    grid-column: 1;      /* position */
    justify-self: left;  /* position */
}

div.header-container-myflex nav {
    font-size: 1.2em;
    grid-column: 2;
    justify-self: end;
    justify-content: end;
}

div.header-container-myflex nav div.menu ul {
    display: flex;          /* instead of the regular vertical listing, moves to horizontal listing */
    list-style-type: none;  /* Remove bullets */
    margin: 0;
}

div.header-container-myflex nav div.menu ul li {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

div.header-container-myflex nav div.menu ul li a {
    color: #222222;
}

div.header-container-myflex nav div.menu ul li a:hover {
    color: #222277;
}


div.header-container-myflex nav div.menu-list-icon {
    display: none;      /* for large screens the button is not shown */
    text-align: right;
}

@media screen and (max-width: 940px) {

    div.header-container-myflex nav div.active {
        display: block !important;  /* 'important' to overcome the display:none */
    }

    div.header-container-myflex nav div.menu {
        display: None;              /* by default it is hidden */
    }

    div.header-container-myflex nav div.menu ul {
        /* position: fixed;         /* so it shows up above the other elements */
        flex-direction: column;     /* items are shown on columns now */
    }

    div.header-container-myflex nav div.menu ul a {
        display: block;
    }

    div.header-container-myflex nav div.menu-list-icon {
        display: block;  /* for smaller screens the button is shown */
    }
}